<nav>
    {{#if category.subcategories}}
        <div class="sidebarBlock">
            <span class="sidebarBlock-heading">{{category.name}}</span>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price}}
    {{/if}}

    <div class="sidebarBlock" id="aw-group-filter">
        <span class="sidebarBlock-heading">Filter by Group</span>
        <ul class="navList aw-group-filter-list">
            <li class="navList-item">
                <label class="aw-group-filter-label">
                    <input type="checkbox" class="aw-group-filter-checkbox" value="employee"> Employees
                </label>
            </li>
            <li class="navList-item">
                <label class="aw-group-filter-label">
                    <input type="checkbox" class="aw-group-filter-checkbox" value="dealer"> Dealer
                </label>
            </li>
            <li class="navList-item">
                <label class="aw-group-filter-label">
                    <input type="checkbox" class="aw-group-filter-checkbox" value="cc"> Certified Contractor
                </label>
            </li>
            <li class="navList-item">
                <label class="aw-group-filter-label">
                    <input type="checkbox" class="aw-group-filter-checkbox" value="sb"> Select Builder
                </label>
            </li>
            <li class="navList-item">
                <label class="aw-group-filter-label">
                    <input type="checkbox" class="aw-group-filter-checkbox" value="insider"> Insider
                </label>
            </li>
        </ul>
    </div>
</nav>
